
body,html {
	position: relative;
	width: 100%;
	height:100%;
}

body {
  background-color: hsl(93, 65%, 76%)
}

h1,h2,h3 {
	font-family: 'BioRhyme';
}


#controls {
	margin: 15px;
	padding: 4px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	border-radius: 10px;
}



canvas {
	width: 100%;
	height: 100%;
	/*border: 20px solid hsla(220, 100%, 90%, 1);*/
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5), 0px 0px 0px 2px hsla(220, 0%, 50%, 1);

}

#traces {
	background-color: hsla(180, 10%, 60%, 1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .5);
	border-radius: 10px;
	position: relative;
	overflow: scroll;
}

.trace {
	padding: 2px 4px;
	border-radius: 10px;
	margin: 5px;
	background-color: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);

}


#app {
	overflow: hidden;
	display: flex;
	flex:1;
	flex-direction: column;
}

#main-column {
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
	width: 700px;
	height: 90%;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	margin: 0px auto;
	margin-top: 20px;



}
