
body,html {
	position: relative;
	width: 100%;
	height:100%;
}

body {
  background-color: hsla(190, 20%, 70%, 1);
}

h1,h2,h3 {
	font-family: 'Gorditas', sanserif;
}



#app {
	overflow: hidden;
	display: flex;
	flex:1;
	flex-direction: column;
}


#main-column {
	margin: 0px auto;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);
	width: 700px;
	
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
}

.simulation {
	margin: 6px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .5);
}

.emoji-button {
	text-align: center;
	width: 2em;
	height: 2em;
	border-width: 0px;
	border-radius: 10em;
	padding: 0px;
	background-color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .7);
}
/* The button when pressed */
.emoji-button:active {
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .5);
}

.emoji-button.toggled {
	background-color: grey;
}

.controls {

	margin: 5px;
	padding: 4px;
	
}


table {
	margin: 0px auto;
	table-layout: fixed;
	border-collapse: collapse;
    border-spacing: 0;
}

.cell {
	border: 1px solid hsla(0, 0%, 0%, .2);
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: green;
	padding: 0px;
	margin: 0px;
	width: 2em;
	height:  2em;

}

.cell-overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}