
body,html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
  background-color: hsl(34, 75%, 70%);
}

h1,h2,h3 {
	font-family: 'BioRhyme', serif;
}


/* Set the size of the containers */
.drawing {
	box-sizing: border-box;
	margin: 10px;
	vertical-align: top;
	background-color: white;

	display: inline-block;

	box-shadow: 1px 2px 5px black;
	border-radius: 10px;
}

.drawing-label {
	font-family: monospace;
	font-weight: bold;
	margin: 10px;
	text-align: center;
}

/* Set the size of the containers */
.drawing-p5holder {
	box-sizing: border-box;
	margin: 10px;
}


canvas {
	width: 300px;
	height: 300px;
	/*border: 20px solid hsla(220, 100%, 90%, 1);*/
	box-shadow: 0px 4px 5px rgba(0, 0, 0, .5), 0px 0px 0px 10px hsla(220, 100%, 90%, 1);

}

#main-column {
	border-radius: 10px;
	background-color: tomato;
	/* box-shadow: 0px 4px 5px rgba(0, 0, 0, .5); */
	width: 400px;
	height: 80%;
	display: block;
	position: relative;
	text-align: center;
	margin: 0px auto;
}

#controls button{
	font-size:30px;
	width:50px;
	height:50px;
}
