/* Styles for a basic chat app */

html,body {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}



#app {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex: 1;
}

.chat-widget {
	overflow: hidden;
	margin: 0px auto;
	width: 400px;
	flex: 1;
	border-radius: 14px;
	padding: 5px;
	border: 2px solid hsla(0,0%, 30%, .6);
	display: flex;
	flex-direction: column;
}

.chat-widget>.messages {
	overflow: scroll;
	flex: 1;
	border-radius: 10px;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .4);
	background-color: hsla(220, 50%, 90%, 1);
}

.chat-row	 {
	align-items: flex-end;
	position: relative;
	display: flex;
	flex-direction: row-reverse;
}

.chat-owner	 {
	position: relative;
	bottom: -14px;
	margin: 3px;
	padding: 3px 6px;
	border-radius: 20px;
	vertical-align: bottom;
	background-color: hsla(120, 50%, 90%,1);
	width: 24px;
	height: 24px;
	box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .5);
}
.chat-message {
	display: inline-block;
	padding: 3px 6px;
	margin: 4px;
	border-radius: 20px 20px 0px 20px;
	border: 2px solid hsla(0,0%, 30%, .4);
	background: white;
	
}


.chat-row.self {
	flex-direction: row;
}
.chat-row.self .chat-message {
	border-radius: 20px 20px 20px 0px;
}

.chat-row.chat-msg-alert {
	color: hsla(0, 100%, 50%, 1);
	justify-content: space-around;
}

.chat-row.chat-msg-alert .chat-message {
	border: none;
	border-radius: 10px;
	background-color: hsla(0, 100%, 90%, 1);
	
}




.chat-widget>.controls {
	
	height: 40px;
}